<ion-header>
  <ion-navbar>
    <ion-title>frequencia-professor</ion-title>
  </ion-navbar>
  <ion-toolbar >
    <ion-searchbar (input)="getItems($event)" placeholder="Matricola"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let user of items ">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/intro01.png">
        </ion-avatar>
        <h2>{{user.name}}</h2>
        <p>Matricola: {{user.cpf}}</p>
        <p>Turma: {{user.name_turma}}</p>
        <p *ngIf="user.presenca===1">Presente</p>
        <p *ngIf="user.presenca===0">Faltou</p>
        <p>Data: {{user.data|date:'dd/MM/yyyy, HH:mm'}}</p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="falta(user)">Falta</button>
      </ion-item-options>

      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="presente(user)">Presença</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
